.header {
   padding: 20px 0;
   width: 100%;
   background-color: #222222;
   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__link {
      text-decoration: none;
      &:not(:last-child) {
         margin-right: 31px;
      }
      &:hover {
         opacity: 0.8;
         transition: 0.4s;
      }
   }
}

}
.container {
   max-width: 1160px;
   padding: 0 20px;
   margin: 0 auto;
}

.__right {
   margin-right: 41px;
}
.indicator {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 25px;
   height: 25px;
   position: absolute;
   border-radius: 50%;
   color: #fff;
   background: $color;
   font-size: 16px;
   line-height: 14px;
   color: #FFFFFF;
   left: 20px;
   top: -28px;
}
._indicaror {
   position: relative;
}

//---- MENU BURGER ---------------------------------------------------------------------------------------------------------

.header {
   &__right {
      &__open {
         color: #fff;
         font-size: 35px;
         margin-right: 25px;
         cursor: pointer;
      }
      &__nav {
         box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
         position: absolute;
         top: 86px;
         right: 0;
         z-index: 10;
         font-family: $family;
         h6 {
            padding-left: 13px;
            font-size: 14px;
            line-height: 17px;
            color: $color;
            margin-bottom: 12px;
         }
         h5 {
            padding-left: 13px;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin-bottom: 22px;
         }
         ul {
            list-style-type: none;
            padding-left: 34px;
            li { margin-bottom: 11px;
               a {
                  text-decoration: none;
                  font-size: 14px;
                  line-height: 17px;
                  color: #6F6E6E;
                  &:hover {
                     color: $color;
                     transition: 0.4s;
                  }
               }
            }
         }
      }
   }
}
.menu__wrap {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   label {
      font-size: 35px;
   }
}
.black {
   font-size: 14px;
   line-height: 17px;
   color: #000000;
}

.nav {
   overflow-y: scroll;
   height: calc(100vh - 86px);
   width: 232px;
   background: #FFFFFF;
   padding: 0px 20px 20px 20px;
}
#burger {
   display: none;
}
#burger:checked + .header__right__nav {
   opacity: 1;
}
#burger:not(:checked) + .header__right__nav {
   opacity: 0;
}
@media (max-width: 767px) {
   
}