.header {
   padding: 20px 0;
   width: 100%;
   background-color: #222222;
   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__link {
      text-decoration: none;
      &:not(:last-child) {
         margin-right: 31px;
      }
   }
   &__right {
      &__open {
         color: #fff;
         font-size: 35px;
      }
      &__nav {
         position: absolute;
         top: 86px;
         right: 0;
         z-index: 10;
      }
   }
}
.nav {
   overflow-y: scroll;
   height: calc(100vh - 86px);
   width: 232px;
   background: #FFFFFF;
   padding: 20px;
}
#burger {
   display: none;
}
#burger:checked + .header__right__nav {
   opacity: 1;
}
#burger:not(:checked) + .header__right__nav {
   opacity: 0;
}
.container {
   max-width: 1160px;
   padding: 0 20px;
   margin: 0 auto;
}

.__right {
   margin-right: 41px;
}

//---- MENU BURGER ---------------------------------------------------------------------------------------------------------
