.section-shoping {
   height: 148px;
   background: #F8F3F4;
}
.container_wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   h5 {
      font-size: 24px;
      line-height: 29px;
      color: #F16D7F;
   }
}